<h1>Edit Offer</h1>
<p class="message"></p>
<form action="/shoe/{{shoe._id}}/edit" method="POST">
    <div>
        <input type="text" name="name" placeholder="Name..." value="{{shoe.name}}">
    </div>
    <div>
        <input type="text" name="price" placeholder="Price..." value="{{shoe.price}}">
    </div>
    <div>
        <input type="text" name="imageUrl" placeholder="Image url..."
            value="{{shoe.imageUrl}}">
    </div>
    <div>
        <textarea name="description"
            placeholder="Give us some description about this offer...">{{shoe.description}}</textarea>
    </div>
    <div>
        <input type="text" name="brand" placeholder="Brand..." value="{{shoe.brand}}">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form>