<section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">
        <!-- Do not forget to change the path to the image -->
        <!-- Gender of the user determines which picture is displayed as their avatar -->
        {{#if user.isMale}}
        <img class="profile-img" src="/images/male.png">
        {{else}}
        <img class="profile-img" src="/images/female.png">
        {{/if}}
        <p>Email: <span>{{user.email}}</span></p>
    </div>
    <div class="profile-info">
        <p>Trips History: <span>{{user.createdTrips.length}}</span> counts</p>

        <div class="trips-info">
            {{#if user.hasCreated}}
            <!-- If there are trips created by the current logged in user display each of them -->
            {{#each user.createdTrips}}
            <p>from <span>{{this.startPoint}}</span> to <span>{{this.endPoint}}</span> on <span>{{this.date}}</span> at <span>{{this.time}}</span></p>
            {{/each}}
            {{else}}
            <!-- If there are no trips created by the current logged in user display:-->
            <p>there are no offer trips yet...</p>

            {{/if}}
        </div>

    </div>
</section>